# Pandas

In [5]:
#install the below if excel is not working
#%pip install openpyxl

In [2]:
#Import pandas and numpy
import pandas as pd
import numpy as np # used for mathematical computation # built on top of pandas
import matplotlib.pyplot as plt

Data stractures used in pandas
1. pandas series
2. pandas data Frame

In [4]:
#Create a list and convert it to pandas series
list1 = ["Boat", "Car", "Ship"]
type(list1)

list

In [5]:
#convert to a series
ser1 = pd.Series(list1)
type(ser1)

pandas.core.series.Series

In [8]:
#Create a list and convert it to a dataframe
data = [('Boat', 5), ('Car', 7), ('Ship', 10)]
data_df= pd. DataFrame(data, columns=('Item', 'Price'))
data_df

   Item  Price
0  Boat      5
1   Car      7
2  Ship     10

In [9]:
type(data)

list

In [11]:
type(data_df)

pandas.core.frame.DataFrame

## Reading from files

In [12]:
#Loading the dataset #excel dataset
df = pd.read_excel("Sample Superstore.xlsx")

## Writing to files

In [13]:
#saving the file to csv # use to_csv() and set index = False
#df.to_csv("clean.csv", index=False)

## Dataframe basics

In [14]:
#setting the default data view # pd.set_option("display.max_columns", 500)
pd.set_option("display.max_columns", 500)

In [15]:
#Displaying the top 3 rows # use head()
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [25]:
#Displaying the last 3 rows # use tail()
df.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [17]:
#displaying top 5 and bottom 5 by default
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [31]:
#Displaying 3 random rows #use sample()
df.sample(3, random_state=42)# we use random_state for Reproducibility

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
8081,26240,Medium,0.07,6.48,5.94,2945,Benjamin Norman Rodgers,Regular Air,Corporate,Office Supplies,Paper,Small Box,"Eureka Recycled Copy Paper 8 1/2"" x 11"", Ream",0.37,Central,Michigan,Mount Pleasant,48858,2011-05-11,2011-05-13,-60.1700,8,50.28,90310
2362,19311,Not Specified,0.02,12.53,0.49,899,Jordan Berry,Regular Air,Small Business,Office Supplies,Labels,Small Box,Round Specialty Laser Printer Labels,0.38,East,Pennsylvania,Altoona,16602,2010-07-27,2010-07-27,104.7213,12,151.77,86264
6231,25185,Not Specified,0.05,34.99,7.73,2287,Samuel Newman,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Small Box,Hunt Boston® Vacuum Mount KS Pencil Sharpener,0.59,South,South Carolina,Summerville,29483,2010-03-25,2010-03-27,-12.0267,12,418.75,90146

In [18]:
#Getting the top 5 largest values in discount column
op_5 = df.nlargest(5, 'Discount')
op_5

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
8649,18176,Critical,0.25,71.37,69.00,3131,Jonathan Reilly,Regular Air,Home Office,Furniture,Tables,Large Box,"Lesro Sheffield Collection Coffee Table, End T...",0.68,Central,Illinois,Mount Prospect,60056,2013-02-14,2013-02-16,-481.041,3,181.03,86802
8661,21721,Critical,0.21,14.98,8.99,3133,Kristine Singleton,Regular Air,Corporate,Furniture,Office Furnishings,Small Pack,"GE 4 Foot Flourescent Tube, 40 Watt",0.39,Central,Illinois,Naperville,60540,2010-09-04,2010-09-05,-17.750,10,153.87,86792
5991,20234,Critical,0.17,14.89,13.56,2201,David Hoyle,Regular Air,Small Business,Furniture,Office Furnishings,Large Box,Tensor Computer Mounted Lamp,0.58,Central,Minnesota,Bloomington,55420,2010-09-25,2010-09-27,-9.130,1,27.96,86054
6000,22900,Critical,0.16,13.73,6.85,2203,Eddie Walker,Regular Air,Small Business,Furniture,Office Furnishings,Wrap Bag,DAX Wood Document Frame.,0.54,Central,Minnesota,Brooklyn Park,55445,2012-09-29,2012-10-02,-74.510,24,319.30,86058
5990,18037,Critical,0.11,12.64,4.98,2200,Sarah Huang,Regular Air,Consumer,Furniture,Office Furnishings,Small Pack,Nu-Dell Executive Frame,0.48,Central,Minnesota,Blaine,55434,2011-12-28,2011-12-30,147.660,20,272.61,86056

In [32]:
#checking the columns # use columns attribute
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [33]:
#checking the index # use df.index
df.index

RangeIndex(start=0, stop=9426, step=1)

## Dataframe summary

In [8]:
#Checking the data Summary # use info(), we can also use info(verbose=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                9426 non-null   int64
 1   Order Priority        9426 non-null   object
 2   Discount              9426 non-null   float64
 3   Unit Price            9426 non-null   float64
 4   Shipping Cost         9426 non-null   float64
 5   Customer ID           9426 non-null   int64
 6   Customer Name         9426 non-null   object
 7   Ship Mode             9426 non-null   object
 8   Customer Segment      9426 non-null   object
 9   Product Category      9426 non-null   object
 10  Product Sub-Category  9426 non-null   object
 11  Product Container     9426 non-null   object
 12  Product Name          9426 non-null   object
 13  Product Base Margin   9354 non-null   float64
 14  Region                9426 non-null   object
 15  State or Province     9426 non-null   object
 16  City                  9426 non-null   object
 17  Postal Code           9426 non-null   int64
 18  Order Date            9426 non-null   datetime64[ns]
 19  Ship Date             9426 non-null   datetime64[ns]
 20  Profit                9426 non-null   float64
 21  Quantity ordered new  9426 non-null   int64
 22  Sales                 9426 non-null   float64
 23  Order ID              9426 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [19]:
#if we are interested in concise info the we add an argument
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9426 entries, 0 to 9425
Columns: 24 entries, Row ID to Order ID
dtypes: datetime64[ns](2), float64(6), int64(5), object(11)
memory usage: 1.7+ MB

In [20]:
#checking the datatypes of the columns 
df.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [21]:
#Checking concise Descriptive statistics for numerical variables# use df.describe()
df.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9354.000000,9426.000000,9426,9426,9426.000000,9426.000000,9426.000000,9426.000000
mean,20241.015277,0.049628,88.303686,12.795142,1738.422236,0.512189,52446.327286,2012-03-05 18:33:59.465308672,2012-03-07 19:16:18.485041408,139.236410,13.798430,949.706272,82318.489073
min,2.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,2010-01-01 00:00:00,2010-01-02 00:00:00,-16476.838000,1.000000,1.320000,6.000000
25%,19330.250000,0.020000,6.480000,3.192500,898.000000,0.380000,29406.000000,2011-03-07 06:00:00,2011-03-09 00:00:00,-74.017375,5.000000,61.282500,86737.250000
50%,21686.500000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2012-04-08 00:00:00,2012-04-09 00:00:00,2.567600,10.000000,203.455000,88344.500000
75%,24042.750000,0.080000,85.990000,13.990000,2578.750000,0.590000,78516.000000,2013-03-26 00:00:00,2013-03-28 00:00:00,140.243850,17.000000,776.402500,89987.750000
max,26399.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,2013-12-31 00:00:00,2014-01-17 00:00:00,16332.414000,170.000000,100119.160000,91591.000000
std,6101.890965,0.031798,281.540982,17.181203,979.167197,0.135229,29374.597802,NaN,NaN,998.486483,15.107688,2598.019818,19149.448857

In [22]:
#Using transpose to change row into columns and vice_versa
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Row ID,9426.0,20241.015277,2.0,19330.25,21686.5,24042.75,26399.0,6101.890965
Discount,9426.0,0.049628,0.0,0.02,0.05,0.08,0.25,0.031798
Unit Price,9426.0,88.303686,0.99,6.48,20.99,85.99,6783.02,281.540982
Shipping Cost,9426.0,12.795142,0.49,3.1925,6.05,13.99,164.73,17.181203
Customer ID,9426.0,1738.422236,2.0,898.0,1750.0,2578.75,3403.0,979.167197
Product Base Margin,9354.0,0.512189,0.35,0.38,0.52,0.59,0.85,0.135229
Postal Code,9426.0,52446.327286,1001.0,29406.0,52302.0,78516.0,99362.0,29374.597802
Order Date,9426,2012-03-05 18:33:59.465308672,2010-01-01 00:00:00,2011-03-07 06:00:00,2012-04-08 00:00:00,2013-03-26 00:00:00,2013-12-31 00:00:00,NaN
Ship Date,9426,2012-03-07 19:16:18.485041408,2010-01-02 00:00:00,2011-03-09 00:00:00,2012-04-09 00:00:00,2013-03-28 00:00:00,2014-01-17 00:00:00,NaN
Profit,9426.0,139.23641,-16476.838,-74.017375,2.5676,140.24385,16332.414,998.486483
Quantity ordered new,9426.0,13.79843,1.0,5.0,10.0,17.0,170.0,15.107688
Sales,9426.0,949.706272,1.32,61.2825,203.455,776.4025,100119.16,2598.019818
Order ID,9426.0,82318.489073,6.0,86737.25,88344.5,89987.75,91591.0,19149.448857

In [23]:
#Selecting the categorical columns and getting statistical summary
df.describe(include="O") # you use capital O or just mention "object"

,Order Priority,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Region,State or Province,City
count,9426,9426,9426,9426,9426,9426,9426,9426,9426,9426,9426
unique,6,2703,3,4,3,17,7,1263,4,49,1424
top,High,Louis Parrish,Regular Air,Corporate,Office Supplies,Paper,Small Box,"Global High-Back Leather Tilter, Burgundy",Central,California,New York City
freq,1970,27,7036,3375,5181,1379,4887,27,2899,1021,202

In [28]:
#Checking concise Descriptive statistics for categorical variables# use df['col'].describe()
df["Unit Price"].describe()

count    9426.000000
mean       88.303686
std       281.540982
min         0.990000
25%         6.480000
50%        20.990000
75%        85.990000
max      6783.020000
Name: Unit Price, dtype: float64

In [54]:
#if the column has no white space, we can also use this code
df.Region.describe()

count        9426
unique          4
top       Central
freq         2899
Name: Region, dtype: object

In [56]:
#checking the number of variables and records, use df.shape,   or len(df)
df.shape,   len(df)

((9426, 24), 9426)

In [29]:
#printing the above result
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns')

The dataset has 9426 rows and 24 columns

## Subsetting Columns

This is the act of selecting  a few columns from the entire dataframe.

In [30]:
#selecting the specific columns# use df[['col1', 'col2', 'col3']] e.g. select Order Date, Product Date, and ship mode

#selecting one column
df_region = df["Region"]

type(df_region)

pandas.core.series.Series

In [31]:
#we use double square brackets to make the output dataframe
df_region = df[["Region"]]

type(df_region)

pandas.core.frame.DataFrame

In [32]:
#we also use [[]] when selecting more than one column
df_sub1 = df[['Region', 'Sales','Profit']]
df_sub1

       Region    Sales       Profit
0     Central     5.90     1.320000
1        West    13.01     4.560000
2        West    49.92   -47.640000
3        West    41.64   -30.510000
4        West  1446.67   998.202300
...       ...      ...          ...
9421     East   447.87   137.860000
9422     East    13.23   -39.070000
9423     East  2215.93 -1225.029097
9424     West   506.50   349.485000
9425     West   172.48    78.062400

[9426 rows x 3 columns]

In [34]:
#checking the column names
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [14]:
# we can use slicing as well e.g. df[df.columns[:5]]
df.columns[:5] #this select the specific columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost'], dtype='object')

In [73]:
#Using list comprehension e.g df[[c for c in df.columns]]
df[[c for c in df.columns]][:5]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

## Select dtypes

In [35]:
# Selecting the numerical variables use df.select_dtypes(), include what you want to select as an argument
df.select_dtypes(include="int")# you can change int to object and rerun the code.

      Row ID  Customer ID  Postal Code  Quantity ordered new  Order ID
0      18606            2        60101                     2     88525
1      20847            3        98221                     4     88522
2      23086            3        98221                     7     88523
3      23087            3        98221                     7     88523
4      23088            3        98221                     8     88523
...      ...          ...          ...                   ...       ...
9421   20275         3402        25314                    13     87532
9422   20276         3402        25314                     3     87532
9423   24491         3402        25314                     4     87533
9424   25914         3403        82001                     5     87530
9425   24492         3403        82001                    23     87533

[9426 rows x 5 columns]

In [36]:
df.select_dtypes(include='float')

,Discount,Unit Price,Shipping Cost,Product Base Margin,Profit,Sales
0,0.01,2.88,0.50,0.36,1.320000,5.90
1,0.01,2.84,0.93,0.54,4.560000,13.01
2,0.03,6.68,6.15,0.37,-47.640000,49.92
3,0.01,5.68,3.60,0.56,-30.510000,41.64
4,0.00,205.99,2.50,0.59,998.202300,1446.67
...,...,...,...,...,...,...
9421,0.06,35.89,14.72,0.40,137.860000,447.87
9422,0.00,3.34,7.49,0.54,-39.070000,13.23
9423,0.08,550.98,45.70,0.71,-1225.029097,2215.93
9424,0.10,105.98,13.99,0.65,349.485000,506.50
9425,0.09,7.78,2.50,0.38,78.062400,172.48

In [37]:
df.select_dtypes(include=['float', "int"])

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
0,18606,0.01,2.88,0.50,2,0.36,60101,1.320000,2,5.90,88525
1,20847,0.01,2.84,0.93,3,0.54,98221,4.560000,4,13.01,88522
2,23086,0.03,6.68,6.15,3,0.37,98221,-47.640000,7,49.92,88523
3,23087,0.01,5.68,3.60,3,0.56,98221,-30.510000,7,41.64,88523
4,23088,0.00,205.99,2.50,3,0.59,98221,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,0.06,35.89,14.72,3402,0.40,25314,137.860000,13,447.87,87532
9422,20276,0.00,3.34,7.49,3402,0.54,25314,-39.070000,3,13.23,87532
9423,24491,0.08,550.98,45.70,3402,0.71,25314,-1225.029097,4,2215.93,87533
9424,25914,0.10,105.98,13.99,3403,0.65,82001,349.485000,5,506.50,87530
9425,24492,0.09,7.78,2.50,3403,0.38,82001,78.062400,23,172.48,87533

## Select as series vs dataframe

In [38]:
#checking the series, use df['Col name']

type(df.Region)

pandas.core.series.Series

In [85]:
#making the above as a dataframe , use df[['col name']]
ser = df[['Region']]
type(ser)

pandas.core.frame.DataFrame

## loc and iloc

We can use loc(variable location), and iloc(index location) to access the variables as well

### iloc

In [90]:
df.head(3)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.64,7,49.92,88523

In [91]:
# getting the value using iloc e.g df.iloc[1, 1]
iloc1 =df.iloc[2,2]
iloc1

0.03

In [92]:
#slicing e.g df.iloc[:5, :5]
df.iloc[:3,:3]

   Row ID Order Priority  Discount
0   18606  Not Specified      0.01
1   20847           High      0.01
2   23086  Not Specified      0.03

In [96]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [99]:
#Getting specific row e.g df.iloc[5], we can present our result in dataframe formart as well
df.iloc[[3]]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
3,23087,Not Specified,0.01,5.68,3.6,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.51,7,41.64,88523

In [103]:
#Checking the index 1 columns e.g df.iloc[:, 1]
df.iloc[:, 1]

0       Not Specified
1                High
2       Not Specified
3       Not Specified
4       Not Specified
            ...
9421         Critical
9422         Critical
9423    Not Specified
9424             High
9425    Not Specified
Name: Order Priority, Length: 9426, dtype: object

In [ ]:
#getting index 1 and 2 columns, e.g  df.iloc[:, [1, 2]]

Loc

we use loc when we want to select the variable by the name

end of part 2 walkthrough

In [18]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [105]:
#subsetting  2 columns df.loc[:, ['col1', 'col2']]
df_sub3 = df.loc[:, ["Region", "Sales"]]
df_sub3

       Region    Sales
0     Central     5.90
1        West    13.01
2        West    49.92
3        West    41.64
4        West  1446.67
...       ...      ...
9421     East   447.87
9422     East    13.23
9423     East  2215.93
9424     West   506.50
9425     West   172.48

[9426 rows x 2 columns]

#### loc filter expressions

we can use loc filter to get specific records

In [19]:
#Get the records of a specific value e.g  df.loc[df['Region'] == 'West']
df_west = df.loc[df['Region']=='West']
df_west.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524

In [16]:
df.loc[df['Sales']>=2000]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193
39,20578,Low,0.02,110.98,30.00,18,Laurie Hanna,Delivery Truck,Small Business,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star Flex Back Scooter Chair with White...,0.71,West,Montana,Helena,59601,2013-10-02,2013-10-04,126.310000,22,2575.93,90039
51,3763,Critical,0.08,42.98,4.62,21,Tony Wilkins Winters,Express Air,Small Business,Office Supplies,Appliances,Small Box,Belkin F9M820V08 8 Outlet Surge,0.56,East,New York,New York City,10012,2012-05-15,2012-05-16,461.650000,60,2585.97,26887
53,7082,Not Specified,0.06,64.65,35.00,21,Tony Wilkins Winters,Express Air,Small Business,Office Supplies,Storage & Organization,Large Box,Space Solutions Commercial Steel Shelving,0.80,East,New York,New York City,10012,2012-05-31,2012-06-02,-929.680000,50,3085.41,50533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9395,19371,High,0.01,218.08,18.06,3396,Stuart Wiley,Regular Air,Corporate,Furniture,Chairs & Chairmats,Large Box,"Lifetime Advantage™ Folding Chairs, 4/Carton",0.57,Central,Illinois,Crystal Lake,60014,2012-08-16,2012-08-17,3480.222000,22,5043.80,87542
9400,20624,Low,0.00,1270.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,Binders and Binder Accessories,Small Box,Fellowes PB500 Electric Punch Plastic Comb Bin...,0.35,Central,Illinois,Danville,61832,2010-06-07,2010-06-09,6384.438900,7,9252.81,87535
9404,22193,High,0.05,387.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,Binders and Binder Accessories,Small Box,Fellowes PB300 Plastic Comb Binding Machine,0.38,Central,Illinois,Danville,61832,2012-11-25,2012-11-26,11429.477400,42,16564.46,87544
9408,22194,High,0.00,160.98,35.02,3398,Marc McDaniel,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,Rush Hierlooms Collection Rich Wood Bookcases,0.72,Central,Illinois,Decatur,62521,2012-11-25,2012-11-26,1790.426000,41,7158.10,87544
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533

In [26]:
df['Product Category'].unique()

array(['Office Supplies', 'Technology', 'Furniture'], dtype=object)

In [33]:
#we can use loc to get records of more than one specific variables
df.loc[(df['Product Category'] == 'Furniture') & (df['Order Date'] == '2010-07-07')]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1639,25539,Critical,0.03,14.20,5.30,619,Howard Rogers,Regular Air,Consumer,Furniture,Office Furnishings,Wrap Bag,Coloredge Poster Frame,0.46,Central,Michigan,Southgate,48195,2010-07-07,2010-07-08,107.0200,14,205.98,88196
4805,19419,Low,0.03,5.08,2.03,1781,Jackie Capps,Regular Air,Home Office,Furniture,Office Furnishings,Wrap Bag,"Master Caster Door Stop, Brown",0.51,West,California,San Carlos,94070,2010-07-07,2010-07-12,15.1524,4,21.96,89858
8467,19739,Medium,0.00,137.48,32.18,3076,Peter Hardy,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,O'Sullivan Cherrywood Estates Traditional Barr...,0.78,East,Ohio,Stow,44224,2010-07-07,2010-07-08,-203.2700,2,296.75,88241
8492,1739,Medium,0.00,137.48,32.18,3079,Andrew Levine,Delivery Truck,Small Business,Furniture,Bookcases,Jumbo Box,O'Sullivan Cherrywood Estates Traditional Barr...,0.78,East,Pennsylvania,Philadelphia,19112,2010-07-07,2010-07-08,-203.2700,10,1483.76,12480

In [34]:
#we can use tilde(~) to get the records of those not represented in the code
df.loc[~((df['Product Category'] == 'Furniture') & (df['Order Date'] == '2010-07-07'))]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

## query

Query method is another way of getting specific records

In [47]:
df.loc[(df['Sales'] >2000 ) & (df["Region"] == "West")]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193
39,20578,Low,0.02,110.98,30.00,18,Laurie Hanna,Delivery Truck,Small Business,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star Flex Back Scooter Chair with White...,0.71,West,Montana,Helena,59601,2013-10-02,2013-10-04,126.3100,22,2575.93,90039
63,20309,Not Specified,0.07,205.99,2.50,24,Edna Thomas,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,California,Laguna Niguel,92677,2012-03-02,2012-03-04,1489.8411,13,2159.19,87656
88,19355,Low,0.06,205.99,8.99,32,Matthew Berman,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,TimeportP7382,0.56,West,Oregon,Grants Pass,97526,2010-09-12,2010-09-19,2568.0960,22,3838.14,89203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9053,19232,Low,0.04,449.99,24.49,3275,Tamara Dickinson,Regular Air,Small Business,Technology,Copiers and Fax,Large Box,Canon PC940 Copier,0.52,West,Washington,Mount Vernon,98273,2010-07-01,2010-07-05,3576.8841,12,5183.89,86234
9095,20865,Medium,0.06,161.55,19.99,3287,Mary Norman,Regular Air,Small Business,Office Supplies,Storage & Organization,Small Box,Fellowes Super Stor/Drawer® Files,0.66,West,California,Granite Bay,95746,2011-08-14,2011-08-14,890.7824,14,2177.26,89898
9108,2532,Critical,0.09,207.48,0.99,3289,Emily Britt,Regular Air,Corporate,Office Supplies,Appliances,Small Box,Kensington 7 Outlet MasterPiece Power Center w...,0.55,West,California,Los Angeles,90049,2013-04-12,2013-04-12,2164.6400,35,6608.24,18373
9212,22079,High,0.07,880.98,44.55,3340,Phillip Blum,Delivery Truck,Consumer,Furniture,Bookcases,Jumbo Box,"Riverside Palais Royal Lawyers Bookcase, Royal...",0.62,West,Oregon,Troutdale,97060,2011-01-03,2011-01-05,4748.7318,8,6882.22,85982
9270,18629,Medium,0.03,160.98,30.00,3356,Richard Tan,Delivery Truck,Corporate,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Mid Back Dual function Ergonomic...,0.62,West,Idaho,Eagle,83616,2010-05-04,2010-05-05,1304.9000,18,2934.16,88588

In [42]:
#getting specific records e.g 
df.query('Sales >2000 & Region == "West"')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193
39,20578,Low,0.02,110.98,30.00,18,Laurie Hanna,Delivery Truck,Small Business,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star Flex Back Scooter Chair with White...,0.71,West,Montana,Helena,59601,2013-10-02,2013-10-04,126.3100,22,2575.93,90039
63,20309,Not Specified,0.07,205.99,2.50,24,Edna Thomas,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,California,Laguna Niguel,92677,2012-03-02,2012-03-04,1489.8411,13,2159.19,87656
88,19355,Low,0.06,205.99,8.99,32,Matthew Berman,Regular Air,Corporate,Technology,Telephones and Communication,Small Box,TimeportP7382,0.56,West,Oregon,Grants Pass,97526,2010-09-12,2010-09-19,2568.0960,22,3838.14,89203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9053,19232,Low,0.04,449.99,24.49,3275,Tamara Dickinson,Regular Air,Small Business,Technology,Copiers and Fax,Large Box,Canon PC940 Copier,0.52,West,Washington,Mount Vernon,98273,2010-07-01,2010-07-05,3576.8841,12,5183.89,86234
9095,20865,Medium,0.06,161.55,19.99,3287,Mary Norman,Regular Air,Small Business,Office Supplies,Storage & Organization,Small Box,Fellowes Super Stor/Drawer® Files,0.66,West,California,Granite Bay,95746,2011-08-14,2011-08-14,890.7824,14,2177.26,89898
9108,2532,Critical,0.09,207.48,0.99,3289,Emily Britt,Regular Air,Corporate,Office Supplies,Appliances,Small Box,Kensington 7 Outlet MasterPiece Power Center w...,0.55,West,California,Los Angeles,90049,2013-04-12,2013-04-12,2164.6400,35,6608.24,18373
9212,22079,High,0.07,880.98,44.55,3340,Phillip Blum,Delivery Truck,Consumer,Furniture,Bookcases,Jumbo Box,"Riverside Palais Royal Lawyers Bookcase, Royal...",0.62,West,Oregon,Troutdale,97060,2011-01-03,2011-01-05,4748.7318,8,6882.22,85982
9270,18629,Medium,0.03,160.98,30.00,3356,Richard Tan,Delivery Truck,Corporate,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Mid Back Dual function Ergonomic...,0.62,West,Idaho,Eagle,83616,2010-05-04,2010-05-05,1304.9000,18,2934.16,88588

In [55]:
#Another different way of using query method
min_sale = 600
#df.query('(Sales > @min_sale) and (Region == "West")')
#----------------------------------------------
#min_Sale = 600
query_expression = 'Sales > {} and (Region == "West")'.format(min_sale)
df.query(query_expression)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,Office Machines,Jumbo Drum,Canon S750 Color Inkjet Printer,0.38,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.445300,12,1451.37,88526
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,Appliances,Small Box,Kensington 6 Outlet MasterPiece® HOMEOFFICE Po...,0.56,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.467300,16,1515.17,90194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9271,18630,Medium,0.04,65.99,5.63,3356,Richard Tan,Express Air,Corporate,Technology,Telephones and Communication,Small Box,2190,0.56,West,Idaho,Eagle,83616,2010-05-04,2010-05-04,605.047200,15,876.88,88588
9378,19464,Not Specified,0.03,95.99,35.00,3388,Aaron Shaffer,Regular Air,Corporate,Office Supplies,Storage & Organization,Large Box,Safco Industrial Wire Shelving,NaN,West,California,Fairfield,94533,2010-11-11,2010-11-12,67.012000,9,894.64,90154
9384,18640,Medium,0.08,125.99,7.69,3393,Irene Murphy,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,StarTAC 3000,0.59,West,Washington,Pullman,99163,2010-04-29,2010-04-30,374.625000,7,710.36,87908
9386,18429,High,0.03,160.98,30.00,3393,Irene Murphy,Delivery Truck,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Mid Back Dual function Ergonomic...,0.62,West,Washington,Pullman,99163,2012-08-21,2012-08-23,836.703200,11,1852.24,87912
9392,22579,Not Specified,0.07,125.99,7.69,3394,Julia Padgett,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,Timeport L7089,0.58,West,Washington,Puyallup,98373,2013-08-19,2013-08-20,139.258512,10,995.95,87913

## Summary Statistics

This is when we want to infer or get more information on the variable performance

In [58]:
#we can use min, max, mean, std, and quantile
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Row ID,9426.0,20241.015277,2.0,19330.25,21686.5,24042.75,26399.0,6101.890965
Discount,9426.0,0.049628,0.0,0.02,0.05,0.08,0.25,0.031798
Unit Price,9426.0,88.303686,0.99,6.48,20.99,85.99,6783.02,281.540982
Shipping Cost,9426.0,12.795142,0.49,3.1925,6.05,13.99,164.73,17.181203
Customer ID,9426.0,1738.422236,2.0,898.0,1750.0,2578.75,3403.0,979.167197
Product Base Margin,9354.0,0.512189,0.35,0.38,0.52,0.59,0.85,0.135229
Postal Code,9426.0,52446.327286,1001.0,29406.0,52302.0,78516.0,99362.0,29374.597802
Order Date,9426,2012-03-05 18:33:59.465308672,2010-01-01 00:00:00,2011-03-07 06:00:00,2012-04-08 00:00:00,2013-03-26 00:00:00,2013-12-31 00:00:00,NaN
Ship Date,9426,2012-03-07 19:16:18.485041408,2010-01-02 00:00:00,2011-03-09 00:00:00,2012-04-09 00:00:00,2013-03-28 00:00:00,2014-01-17 00:00:00,NaN
Profit,9426.0,139.23641,-16476.838,-74.017375,2.5676,140.24385,16332.414,998.486483
Quantity ordered new,9426.0,13.79843,1.0,5.0,10.0,17.0,170.0,15.107688
Sales,9426.0,949.706272,1.32,61.2825,203.455,776.4025,100119.16,2598.019818
Order ID,9426.0,82318.489073,6.0,86737.25,88344.5,89987.75,91591.0,19149.448857

In [56]:
#max
df["Sales"].max()

100119.16

In [115]:
#mean
df["Sales"].mean()

949.7062720135795

In [116]:
#std
df["Sales"].std()

2598.0198182734284

In [60]:
#Quantile   
df['Sales'].quantile([.25, .50, .75])

0.25     61.2825
0.50    203.4550
0.75    776.4025
Name: Sales, dtype: float64

## agg

This is used when we need to get summary statistics of more than 1 at ago.

In [64]:
# Getting  min, mean, max of 3 variables('Sales','Discount', 'Profit'), use  
df[['Sales','Profit', 'Shipping Cost']].agg(['mean', 'min', 'max']).T

                     mean        min         max
Sales          949.706272      1.320  100119.160
Profit         139.236410 -16476.838   16332.414
Shipping Cost   12.795142      0.490     164.730

In [65]:
#another way of doing the above

df[['Sales','Discount', 'Profit']].agg(
    {
        'Sales': ['min', 'max'],
        'Discount': ['mean'],
        'Profit': ['min', 'max']
    }
)

          Sales  Discount     Profit
min        1.32       NaN -16476.838
max   100119.16       NaN  16332.414
mean        NaN  0.049628        NaN

## Summarize categoricals

we use different way to categorize categorical variables

In [66]:
#use unique to see the unique values in the variable, use  df['col'].unique()
df['Region'].unique()

array(['Central', 'West', 'East', 'South'], dtype=object)

In [67]:
#nunique is used to get the number, use  df['col'].nunique()
df['Region'].nunique()

4

In [68]:
df["Customer Name"].unique()

array(['Janice Fletcher', 'Bonnie Potter', 'Ronnie Proctor', ...,
       'Florence Gold', 'Frederick Cole', 'Tammy Buckley'], dtype=object)

In [69]:
df["Customer Name"].nunique()

2703

In [75]:
#Value count is used to get the number of occurances use df['col'].value_counts()
df[['Product Category']].value_counts()

Product Category
Office Supplies     5181
Technology          2312
Furniture           1933
Name: count, dtype: int64

In [76]:
# valuse counts for 2 variable, return dataframe  df[['col1', 'col2']].value_counts()
df[['Product Category','Region']].value_counts()

Product Category  Region
Office Supplies   Central    1559
                  East       1272
                  West       1251
                  South      1099
Technology        Central     717
Furniture         Central     623
Technology        West        572
                  East        538
                  South       485
Furniture         East        479
                  West        461
                  South       370
Name: count, dtype: int64

In [77]:
# we use reset index so that the result starts from index zero use df[['col1', 'col2']].value_counts().reset_index()
query_expression = 'Sales > {} and (Region == "West")'.format(min_sale)
df.query(query_expression).reset_index()

,index,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
1,5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 194,0.37,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.052300,37,2011.67,88524
2,6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,Office Machines,Jumbo Drum,Canon S750 Color Inkjet Printer,0.38,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.445300,12,1451.37,88526
3,7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,Global Troy™ Executive Leather Low-Back Tilter,0.60,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.366500,12,6362.85,90193
4,9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,Appliances,Small Box,Kensington 6 Outlet MasterPiece® HOMEOFFICE Po...,0.56,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.467300,16,1515.17,90194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,9271,18630,Medium,0.04,65.99,5.63,3356,Richard Tan,Express Air,Corporate,Technology,Telephones and Communication,Small Box,2190,0.56,West,Idaho,Eagle,83616,2010-05-04,2010-05-04,605.047200,15,876.88,88588
710,9378,19464,Not Specified,0.03,95.99,35.00,3388,Aaron Shaffer,Regular Air,Corporate,Office Supplies,Storage & Organization,Large Box,Safco Industrial Wire Shelving,NaN,West,California,Fairfield,94533,2010-11-11,2010-11-12,67.012000,9,894.64,90154
711,9384,18640,Medium,0.08,125.99,7.69,3393,Irene Murphy,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,StarTAC 3000,0.59,West,Washington,Pullman,99163,2010-04-29,2010-04-30,374.625000,7,710.36,87908
712,9386,18429,High,0.03,160.98,30.00,3393,Irene Murphy,Delivery Truck,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,Office Star - Mid Back Dual function Ergonomic...,0.62,West,Washington,Pullman,99163,2012-08-21,2012-08-23,836.703200,11,1852.24,87912
713,9392,22579,Not Specified,0.07,125.99,7.69,3394,Julia Padgett,Regular Air,Consumer,Technology,Telephones and Communication,Small Box,Timeport L7089,0.58,West,Washington,Puyallup,98373,2013-08-19,2013-08-20,139.258512,10,995.95,87913

## shift, cumsum

In [78]:
#cumsum
df.Sales.cumsum()

0             5.90
1            18.91
2            68.83
3           110.47
4          1557.14
           ...
9421    8949023.18
9422    8949036.41
9423    8951252.34
9424    8951758.84
9425    8951931.32
Name: Sales, Length: 9426, dtype: float64

In [80]:
#shift is commonly used in time series , use df[['col']].shift(1)
df["shift1"] = df["Sales"].shift(1)
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,shift1
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,5.90
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,13.01
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,49.92
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,41.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,1969.31
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,447.87
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,13.23
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,2215.93
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,506.50

In [ ]:
#shift last value df[['col']].shift(-1)

In [81]:
#fill up the shitfed value, use df[['col']].shift(3, fill_value=100)
df[['Sales']].shift(1, fill_value= 00)

        Sales
0        0.00
1        5.90
2       13.01
3       49.92
4       41.64
...       ...
9421  1969.31
9422   447.87
9423    13.23
9424  2215.93
9425   506.50

[9426 rows x 1 columns]

In [82]:
#summing up the sum values, use df[['col']].cumsum()
df[['Sales']].cumsum()

           Sales
0           5.90
1          18.91
2          68.83
3         110.47
4        1557.14
...          ...
9421  8949023.18
9422  8949036.41
9423  8951252.34
9424  8951758.84
9425  8951931.32

[9426 rows x 1 columns]

In [ ]:
#we can also do cummax, and cummin

## Rolling methods

In [ ]:
#using Rolling, usse df[['col']].rolling(window=5).mean()
df[['Sales']].rolling(window=3).mean()

## Groupby

This is used when we want to summarize categorical features based on a certain numerical variable

In [93]:
# use groupby, use df.groupby('categorical_col')[['numerical_coll']].mean(), e.g region and sales
reg1 = df.groupby("Region")['Sales'].mean()
reg1.sort_values(ascending=False)#It will sort according to descending order(1058.4555, 1047.0397, 876.282, 817.47503)

Region
East       1058.455518
West       1047.039755
Central     876.282035
South       817.475036
Name: Sales, dtype: float64

In [94]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'shift1'],
      dtype='object')

In [100]:
df.groupby(["Region",'State or Province'])[['Sales', 'Profit']].agg(['mean', 'min', 'max'])

                                    Sales                        Profit  \
                                     mean    min        max        mean
Region  State or Province
Central Illinois              1143.488288   3.56   32589.59  218.904149
        Indiana                805.317801   5.67   11015.82  151.042651
        Iowa                   568.594487   2.74   16243.17  109.424948
        Kansas                 831.477519   5.30   18712.97  112.786980
        Michigan               992.641040   2.24   32510.21  162.205968
        Minnesota              797.028326   4.55   14380.76  140.601892
        Missouri               706.225776   2.87    9538.42  152.974354
        Nebraska               531.462338   4.04    5845.81  133.215352
        North Dakota           510.405588   3.25    3802.01  260.404873
        Oklahoma               643.501827   5.68   11145.81  244.577604
        South Dakota          1191.986071   5.93    8140.40  639.396076
        Texas                  840.695046   3.44   19567.99  168.738794
        Wisconsin              880.027751   3.77    8898.91  241.322253
East    Connecticut            515.882561   4.44    3749.02   92.159860
        Delaware               236.230000  23.32    1076.30    4.262309
        District of Columbia  3218.656176   6.93   45737.33  375.227775
        Maine                  758.753984   3.86   10180.01  128.979089
        Maryland               701.707809   5.81    6689.89  118.223431
        Massachusetts         1029.061757   7.12   13582.93  193.046163
        New Hampshire          756.112037   3.32    6329.61  190.749961
        New Jersey             809.989944   3.17   12195.58  139.750086
        New York              1462.706847   1.32   48418.58  197.837935
        Ohio                   733.045758   3.74   10728.00  175.780993
        Pennsylvania          1097.312546   1.65   35147.33  100.394820
        Rhode Island           924.230000  13.53    7029.10  331.235066
        Vermont                657.841475   9.55    7303.05  130.985420
        West Virginia          873.285581  12.91   12732.00   92.883550
South   Alabama               1013.654400   2.66   20552.55   86.175871
        Arkansas               782.026829   5.29   25029.79   76.692703
        Florida                964.769176   4.33   40136.93   46.775493
        Georgia                917.468411   4.95   23065.98   72.775017
        Kentucky               732.054337   7.64    7767.97   97.942150
        Louisiana              748.440449   3.36    9984.85   10.532087
        Mississippi            537.413718   3.30    7582.99 -231.340256
        North Carolina         797.037052   3.78   15503.70  106.059337
        South Carolina         513.016190   6.82    6269.79    6.317947
        Tennessee              571.573072   3.37    6938.19  -41.578360
        Virginia               789.940707   3.07   13685.53  164.651821
West    Arizona                898.482761   1.62   12924.23  324.673779
        California            1137.826484   2.25  100119.16   84.327510
        Colorado               746.949153   3.13    9798.84  113.322157
        Idaho                  838.966228   5.24    9507.12  137.369499
        Montana                600.090816   3.20    6569.07 -193.136489
        Nevada                 465.777442   3.46    6901.25  102.215854
        New Mexico             834.337857   6.32   10160.50  309.654901
        Oregon                 903.185000   5.10   21366.51  323.232173
        Utah                   568.049932   8.39   10331.09  126.307150
        Washington            1556.013486   3.47   50332.66  138.621598
        Wyoming                879.289524   8.57    4502.64  310.043723


                                       min          max
Region  State or Province
Central Illinois             -13706.464000  12504.90450
        Indiana               -3061.820000   2850.10710
        Iowa                  -1640.511000   2859.88440
        Kansas                 -801.090000   2059.19024
        Michigan              -1424.284992   5757.89820
        Minnesota             -3404.240000   9195.97500
        Missouri              -6474.654000   6301.85280
        Nebraska               -929.680000   4033.60890
        North Dakota           -159.860000   2267.22000
        Oklahoma               -609.090000   7690.60890
        South Dakota           -614.489200   5616.87600
        Texas                 -3476.859300   8752.04280
        Wisconsin             -3971.062800   6140.24790
East    Connecticut            -969.048366   2120.08500
        Delaware               -303.911600    457.94610
        District of Columbia  -2157.600000   9228.22560
        Maine                 -1764.290000   7024.20690
        Maryland              -1537.135600   4616.02410
        Massachusetts         -2595.650200   4730.17770
        New Hampshire          -810.205000   2379.08550
        New Jersey            -3229.601760   6914.13120
        New York              -2870.277600   8798.18310
        Ohio                  -4017.616500   7402.32000
        Pennsylvania          -1980.991680   5174.35830
        Rhode Island           -892.790000   4407.44000
        Vermont               -2426.550000   3263.49990
        West Virginia         -1225.029097   5078.53800
South   Alabama               -2038.834000   5050.54020
        Arkansas              -3585.852900   5534.46000
        Florida               -5972.523900  16332.41400
        Georgia               -5257.046340   5379.49800
        Kentucky              -2196.684000   4714.84800
        Louisiana             -1954.708000   1248.88800
        Mississippi          -14369.123580   4305.67200
        North Carolina       -16476.838000   7190.63700
        South Carolina        -1121.243200   2899.96200
        Tennessee             -2299.710000   2418.97200
        Virginia              -5136.671400   8004.15600
West    Arizona               -1637.714880   8917.71870
        California            -9078.940000   7628.03280
        Colorado             -10402.943916   6095.86020
        Idaho                -10263.659700   5804.30070
        Montana              -13562.637408   1025.65480
        Nevada                -1637.520000   4233.25880
        New Mexico            -1296.930000   5466.39390
        Oregon                -1820.840000   8202.56820
        Utah                  -1867.970000   6028.41000
        Washington           -14140.701600   6653.03520
        Wyoming               -1033.112000   2713.95000

In [ ]:
#Using agg() together with groupby e.g df.groupby('cta_col')[['num_col']].agg(['mean', 'min', 'max'])

In [ ]:
#combining two numerical columns

## New columns

In [11]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [12]:
#ctreating a new column,  e.g df['new_col'] = df['coln'] - df['coln2']

df["Cost"] = df['Sales'] - df["Profit"]

In [14]:
df['tax'] = df['Sales']*.1

In [15]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost,tax
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,4.5800,0.590
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,8.4500,1.301
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,97.5600,4.992
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,72.1500,4.164
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,448.4677,144.667

In [ ]:
#Another way of creating new column using assign method, use df=df.assign(colname=expression)
#creating new column using .assign()
#df=df.assign(col_2=df["Profit"]/0.3)

## Sorting

This is a way of ordering the values either in ascending or descending order

In [20]:
#sort values use  df.sort_values('col'), we can apply argument ascending= False to get the result in descending order
#df.sort_values('Region', ascending=False)

df.sort_values("Discount", ascending=False).reset_index(drop=True)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost,tax
0,18176,Critical,0.25,71.37,69.00,3131,Jonathan Reilly,Regular Air,Home Office,Furniture,...,Mount Prospect,60056,2013-02-14,2013-02-16,-481.04100,3,181.03,86802,662.07100,18.103
1,21721,Critical,0.21,14.98,8.99,3133,Kristine Singleton,Regular Air,Corporate,Furniture,...,Naperville,60540,2010-09-04,2010-09-05,-17.75000,10,153.87,86792,171.62000,15.387
2,20234,Critical,0.17,14.89,13.56,2201,David Hoyle,Regular Air,Small Business,Furniture,...,Bloomington,55420,2010-09-25,2010-09-27,-9.13000,1,27.96,86054,37.09000,2.796
3,22900,Critical,0.16,13.73,6.85,2203,Eddie Walker,Regular Air,Small Business,Furniture,...,Brooklyn Park,55445,2012-09-29,2012-10-02,-74.51000,24,319.30,86058,393.81000,31.930
4,18037,Critical,0.11,12.64,4.98,2200,Sarah Huang,Regular Air,Consumer,Furniture,...,Blaine,55434,2011-12-28,2011-12-30,147.66000,20,272.61,86056,124.95000,27.261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,2564,Not Specified,0.00,65.99,5.99,1413,Pamela Wiley,Regular Air,Corporate,Technology,...,Boston,2113,2011-12-31,2012-01-02,286.36200,46,2744.40,18530,2458.03800,274.440
9422,22356,High,0.00,85.99,3.30,428,Ernest Barber,Regular Air,Corporate,Technology,...,Carson City,89701,2010-07-15,2010-07-16,-302.22500,1,73.82,88479,376.04500,7.382
9423,19788,Medium,0.00,3.08,0.50,2671,Lloyd Fuller,Regular Air,Home Office,Office Supplies,...,Brentwood,37027,2013-05-25,2013-05-28,-808.47186,7,23.02,90553,831.49186,2.302
9424,23603,Not Specified,0.00,65.99,5.26,2673,Faye Joseph,Regular Air,Home Office,Technology,...,Clarksburg,26301,2013-06-08,2013-06-09,711.74880,18,1031.52,90554,319.77120,103.152
9425,23901,Low,0.00,120.97,26.30,1003,Jessie Coble,Delivery Truck,Home Office,Technology,...,Centereach,11720,2013-02-17,2013-02-24,968.82210,11,1404.09,88435,435.26790,140.409

In [ ]:
#resetting the index, use df[['col1', 'col2', 'col3']].sort_values('col3', ascending=False).reset_index(drop=True)
#df[['Region',"Product Name","Sales"]].sort_values("Sales", ascending=False)

## Missing data

This is how we can check and fix null values

In [30]:
#checking missing values, use df.isna(), add .sum()a better result
#df.isna().sum()
df.isnull().sum()

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     72
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
Cost                     0
tax                      0
dtype: int64

In [34]:
#fixing the null values  by dropping the rows df.dropna(subset=['col with missing value']), or just df.dropna() for entire dataframe
df.dropna(inplace=True)# inplace =True; Ensures that the missing values are dropped fully
df.isna().sum()# Checking for the missing values in totallity

Row ID                  0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Profit                  0
Quantity ordered new    0
Sales                   0
Order ID                0
Cost                    0
tax                     0
dtype: int64

In [35]:
#remove tax column
del df["tax"]

In [36]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Cost'],
      dtype='object')

In [ ]:
#filling up the missing value with specific value, use df[['col1', 'col2', 'col3']].fillna(0)

In [ ]:
#Filling with the mean of the column, use df['col1'].fillna(df['col1'].mean())

## Concat

concat is used when all the variables as similar

In [37]:
# create 2 dataframe
df1 = df.query('Region == "West"').copy()
df2 = df.query('Region == "East"').copy()

In [38]:
df1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,8.4500
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,97.5600
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,72.1500
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,448.4677
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524,623.6177

In [40]:
#concat, use pd.concat([df1, df2])
df_final = pd.concat([df1, df2])

In [41]:
df_final.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,8.4500
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,97.5600
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,72.1500
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,448.4677
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524,623.6177

In [ ]:
#we can resset the index then concat as well
#df1 = df1.reset_index(drop=True)
#df2 = df2.reset_index(drop=True)

In [ ]:
#concat, use pd.concat([df1, df2], axis=1)

## Merge dataframes

In [43]:
#create 2 dataframe
df4= df.groupby(['Region', 'Order Date'])[['Sales']].mean().reset_index()
df5 = df.groupby(['Region', 'Order Date'])[['Profit']].mean().reset_index()

In [ ]:
#Merging
# merge left, use df1.merge(df2, how="left")

In [ ]:
#merge on right, use df1.merge(df2, how="right")

In [ ]:
#merging on outer, use df1.merge(df2, how="outer")

## Merge suffixes

In [ ]:
#merging using suffices use, pd.merge(df1, df2, on=['col1', 'col2'])

In [ ]:
#merge on specific similar column use pd.merge(df1, df2, on=df['col1'])

In [ ]:
#merging using both letf and right on,use pd.merge(df1, df2, left_on=['col1'], right_on=['col1'])